{% extends 'base.html.twig' %}

{% block container %}
    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl flex shadow-lg items-center space-x-4">
        <div class="shrink-0">
            <img class="h-12 w-12 rounded-full" src="https://www.marcelkraus.de/wp-content/uploads/2022/09/marcel-kraus-avatar-150x150.jpg" alt="ChitChat Logo">
        </div>
        <div>
            <div class="text-xl font-medium text-black">Hello World.</div>
            <p class="text-slate-500">Here be dragons (soon).</p>
        </div>
    </div>
{% endblock %}
