<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Marcel Kraus [ iOS-Entwicklerm, Schrauber, Nerd ]{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link href="css/output.css" rel="stylesheet">
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="h-screen w-screen flex justify-center items-center">
                {% block container %}{% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
